body{
    background-color: #D9DCD6;
}
*{
    text-decoration: none;
}
.navbar{
    background:#3A7CA5; font-family: calibri; padding-right: 15px; padding-left: 15px;
}
.navdiv{
    display: flex;align-items: center; justify-content: space-between;
}
li{
    list-style: none; display: inline-block
}
li a{
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}
.logo a {
    font-size: 35px; font-weight: 600; color: white
}
.dropdownMenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:#3A7CA5 ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
.dropdownMenu li{
    width: 100%;
    display: block;
}

.dropdownMenu a {
    padding: 12px 16px;
    display: block;
    color: white;
}
.dropdownMenu a:hover{
    background-color: #555;
    color: #3A7CA5;
}
ul li:hover .dropdownMenu{
    display: block;
}
ul li{
    position: relative;
}