body{
    background-color: #F5F1ED;
}
*{
    text-decoration: none;
}
/* used a guide from w3 for nav dropdown*/
.navbar{
    background-color:#3A7CA5; 
    padding-right: 15px; 
    padding-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a{
    float:left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float:left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content{
    display: none;
    position:absolute;
    background-color: #98b7c9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
.dropdown-content a{
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    clear: both;
}
.dropdown-content a:hover{
    background-color: #699AB7;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.navdiv{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}
li{
    display: inline-block
}
li a{
    font-size: 18px; 
    font-weight:bold;
}
.logo a {
    font-size: 35px; 
    font-weight: bold;
}
/* used ai for this line (debugging) */
.dropdown-content li{
    display: block;
}